* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}
header .collapseDiv a {
  margin-left: 20px;
  color: white;
}
header .divIcon {
  display: flex;
  gap: 20px;
}

#pato {
  background-image: url(/img/slide1-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
}
#pato .row {
  margin-bottom: 30px;
  padding: 30px;
}
#pato .row .patosec {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
#pato .row .patosec h4 {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
}
#pato .row .patosec h1 {
  text-align: center;
  color: white;
  font-size: 90px;
  font-weight: 700;
}
#pato .row .patosec .btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#pato .row .patosec .btnDiv button {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  color: red;
  font-size: 12px;
}

#italian {
  background-color: #F1F1F1;
}
#italian .row {
  margin-bottom: 30px;
  padding: 30px;
}
#italian .row .italiantext {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  padding-top: 30px;
}
#italian .row .italiantext h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: red;
}
#italian .row .italiantext h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
#italian .row .italiantext p {
  padding-top: 30px;
  color: grey;
}
#italian .row .italiantext span {
  color: grey;
  align-items: center;
}
#italian .row .italianimg img {
  padding-top: 20px;
  max-width: 100%;
  border-radius: 20px;
}

#discover {
  background-image: url(/img/bg-intro-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
#discover .row {
  margin-bottom: 30px;
  padding: 30px;
}
#discover .row .discovertext {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  padding-top: 30px;
}
#discover .row .discovertext h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: red;
}
#discover .row .discovertext h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

#apisection .divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
#apisection .divbtn #btn {
  font-size: 15px;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
#apisection .container .row {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
#apisection .container .row .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
#apisection .container .row .buttons button {
  font-size: 15px;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
#apisection .container .row .buttons button a i {
  color: white;
}
#apisection .container .row .buttons button a i:hover {
  color: red;
}
#apisection .container .row .buttons button:hover {
  background-color: white;
  color: red;
  transition: 0.5s;
}
#apisection .container .row #apidiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5px;
  border-radius: 10px;
}
#apisection .container .row #apidiv .boxDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
#apisection .container .row #apidiv .boxDiv .addtobasketbtn {
  font-size: 15px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px;
  border: none;
}
#apisection .container .row #apidiv .boxDiv .addtobasketbtn:hover {
  background-color: white;
  color: red;
  transition: 0.5s;
}

#formimp {
  background-color: #EFEFEF;
}
#formimp .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#formimp .container .formsec {
  padding: 20px;
}
#formimp .container .formsec h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: red;
}
#formimp .container .formsec h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}
#formimp .container #myFORM {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
#formimp .container #myFORM #myFORM input {
  font-size: 20px;
  background-color: white;
  border: 1px solid rgb(232, 142, 232);
  border-radius: 25px;
}
#formimp .container #myFORM #submit {
  background-color: red;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
#formimp .container #submit:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
#formimp .frmimg {
  padding: 20px;
}
#formimp .frmimg img {
  max-width: 90%;
  border-radius: 20px;
}